*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
androidlibrary/.idea/
.idea/
androidlibrary/gradle/
gradle/
gradlew
gradlew.bat
androidlibrary/local.properties
